config/sodium-extra.properties
config/sodium-extra-options.json
config/smoothboot.json
config/skinlayers.json
config/rrls.toml
config/packetfixer.properties
config/oculus.properties
config/NoChatReports/README.md
config/NoChatReports/NCR-ServerPreferences.json
config/NoChatReports/NCR-Encryption.json
config/NoChatReports/NCR-Common.json
config/NoChatReports/NCR-Client.json
config/MouseTweaks.cfg
config/modernfix-mixins.properties
config/modernfix-common.toml
config/modelfix-client.toml
config/forge-client.toml
config/fml.toml
config/flywheel-client.toml
config/ferritecore-mixin.toml
config/fabric/indigo-renderer.properties
config/etf_warnings.json
config/entityculling.json
config/entity_texture_features.json
config/entity_model_features.json
config/enchdesc.json
config/embeddium-options.json
config/embeddium-mixins.properties
config/embeddium-fingerprint.json
config/embeddium++.toml
config/dynamic_fps.json
config/create-common.toml
config/create-client.toml
config/connector.json
config/common.properties
config/client.properties
config/chat_heads.json5
config/bettergrass.json5
config/badoptimizations.txt
config/appleskin-client.toml
